/* Estilo General */

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'PT Sans Narrow', sans-serif;
}

body{
	background-color: rgba(212, 212, 212, 1);
}

header{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: white;
	font-size: 20px;
	background-color: rgba(82, 100, 146, 0.6);
	letter-spacing: 6px;
	text-align: center;
	text-shadow: 0 0 4px rgb(218, 218, 218);
	height: 40px;
}

#bg-stars {
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    z-index: -1;
}

.boton_perfil {
	display: none;
	position: absolute;
	right: 5px;
	font-size: 25px;
	cursor: pointer;
	z-index: 2;
}

nav {
	align-items: center;
	background-color: rgb(134, 144, 180);
	text-align: center;
}

/* Perfil Lateral */

.perfil_lateral {
	background-color: rgb(54, 69, 92);
	background: linear-gradient(to right, rgb(54, 69, 92), rgb(47, 53, 80));
	width: 20%;
	position: fixed;
	bottom: 0%;
	top: 0%;
	z-index: 1;	
	border-right: solid 1px rgb(18, 20, 31);
}

.perfil__primero {
	position: relative;
	padding: 15px;
	border-top: dashed 2px rgb(82, 100, 146);
	border-bottom: dashed 2px rgb(82, 100, 146);
}

.perfil__recuadro {
	margin: 0;
	padding: 0;
	display:  inline-block;

	width: 90px;
	height: 90px;
	border-radius: 50%;
	overflow: hidden;

	background-color: black;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.perfil__foto {
	width: 100%;
}

figcaption {
	display: inline-block;
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	left: 117px;
	font-size: 18px;
	color: rgb(236, 236, 234);
	text-align: center;
	white-space: nowrap;
}

.perfil__descripcion {
	padding: 20px;
	text-align: justify;
	color: rgb(236, 236, 234);
}

.perfil__contacto {
	padding: 20px;
	text-align: justify;
	position: fixed ;
	color: rgb(236, 236, 234);
	width: 20%;
	bottom: 0%;
	border-top: dashed 2px rgb(82, 100, 146);
}

.link_redes {
	padding: 3px;
	box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.link_redes:link, .link_redes:visited {
	color: rgb(236, 234, 234);
	border: solid 1px rgb(143, 143, 143);
	text-decoration: none;
}

.link_redes:hover {
	background-color: rgb(236, 236, 234);
	color: rgb(82, 100, 146);
}

/* Contenido del Portafólio*/

header, section {
	position: relative;
	left: 20%;
	width: 80%;
}

/* Barra de navegación */

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	background: linear-gradient( rgb(134, 143, 182) 15%, rgba(134, 143, 182, 0.0));
	position:relative;
	left: 20%;
	width: 80%;
	list-style-type: none;
	text-align: center;
	white-space: nowrap;
}

.nav_content {
	display: inline-block;
}

.nav_item {

	background: linear-gradient(rgb(115, 132, 206), rgb(174, 192, 226));
	display: inline-block;
	height: 100%;
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 10px;
	color: white;
	border-radius: 10px;
	border: solid 1px rgb(233, 233, 233);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 1px rgba(8, 8, 8, 0.8);
	transition: all 0.35s;
}

.nav_item.active {
	border: solid 1px aquamarine;
	color: aquamarine;
	text-shadow: 1px 1px 1px rgba(15, 15, 15, 0.8);
}

.nav_content:hover {
	color: white;
}

.nav_item:hover {
	color: aquamarine;
}

/* Contenido de sección "Proyectos" */

table {
	width: 100%;
	margin: auto;
	max-width: 1250px;
	table-layout: fixed;
}

tbody {
	max-width: 500px;
}

td, th {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.sec_proyectos {
	background-image: linear-gradient(to bottom, rgba(212, 212, 212, 1), rgba(173, 190, 223, 1), rgba(212, 212, 212, 1));
}

section{
	background-color: rgba(212, 212, 212, 1);
	padding: 40px 0px 0px 40px;
}

.cv_section{	
	padding-right: 40px;
}

.contenedor_proyecto{
	width: 50%;
}

.proyecto {
	position: relative;

	background-color: rgba(54, 69, 92, 1);
	border-top-left-radius: 4%;
	border-top-right-radius: 4%;
	box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);

}

.proyecto_titulo {
	position: absolute;
	color: rgb(236, 236, 234);
	background-color: rgb(82, 100, 146);
	text-align: center;
	padding: 10px 15px;
	font-size: 18px;
	letter-spacing: 2px;
	white-space: nowrap;
	border-radius: 25px;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: solid 1px rgba(54, 69, 92, 1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
	font-family: 'Work Sans', sans-serif;
}

.proyecto_imagen {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 8px 8px 0% 0%;
	border: solid 2px;
	border-color: rgba(54, 69, 92, 1);
}

.proyecto_descripcion {
	width: 477px;
	padding: 10px;
	width: 100%;
	color:white;
	text-align: justify;
	background-color: rgb(82, 100, 146);
	min-height: 76px;
}

td {
	padding: 0px 40px 40px 0px;
}

ul	{
	display: flex;
	align-items: center;
	list-style-type: none;
	padding: 5px;
	gap: 5px;
	width: 100px;
}

.tags {
	width: 100%;
	overflow: hidden;
}

.tag {
	display: flex;
	align-items: center;
	background-color: rgb(134, 143, 182);
	white-space: nowrap;
}

.tag-icon {
	width: 28px;
	filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.925));
}

.tag-name {
	display: block;
	padding: 4px;
}

.tag:hover {
	cursor: default;	
}

/* Contenido de "Formación" */

.formacion_space {
	position: relative;
	margin-right: 40px;
	padding-left: 40px;
}

.formacion_imagen {
	width: 200px;
	border: solid 3px rgb(54, 69, 92);
	margin-right: 20px;
	float: left;
}

.formacion_descripcion{
	width: 100%;

	right: 40px;
	padding-right: 40px;
}

hr {
	clear: both;
	margin-right: 40px;
}

article > a {
	text-decoration: none;
	color: black;
}

.formacion_link :hover{
	background-color: rgb(236, 236, 234);
	text-decoration: underline;
}

/* Contenido de "Curriculum" */

.titulo__curriculum {
	color: rgb(236, 236, 234);
	background-color: rgb(36, 36, 165);
	background: linear-gradient(to right, rgb(36, 36, 165), rgb(63, 63, 61));
	text-align: center;
	border-radius: 15px;
}

.img_download{
	background-color: rgb(236, 236, 234);
	padding: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align: center;
	border: 3px solid rgba(0, 0, 0, 0.0);
}

.img_download_link :hover{
	background-color: rgb(179, 204, 247);
	border: solid;
}

.imagen__cv {
	display: block;
	margin: auto;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

/* Media Query dispositivos móviles */

@media (max-width: 600px) {

.perfil_lateral {
	display: none;
	width: 100%;
	padding: 0;
}

header, .nav, section {
	position: relative;
	left: 0;
	width: 100%;
}

section {
	padding: 0;
	height: 100vh;
}

.cv_section{	
	padding-right: 20px;
}

.boton_perfil {
	display: block;
}

.perfil__contacto {
	width: 100%;
	text-align: center
}

.nav_item {
	background-color: rgb(154, 178, 226);
	background: linear-gradient(rgb(115, 132, 206), rgb(174, 192, 226));
	display: inline-block;
	height: 100%;
	padding: 15px;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	line-height: 10px;
}

.formacion_space {
	margin-right: 0;
	padding-left: 0;
}

.sec_proyectos {
	padding-top: 30px;
	padding-bottom: 0;
}

section {
	padding: 20px;
}

.contenedor_proyecto {
	display: block;
	width: 100%;
	padding: 0px 0px 30px 0px;
}

.proyecto {
	max-width: 500px;
}

td {
	padding: 0px 0px 30px 0px;
}

.formacion_imagen {
	width: 40%;
	object-fit: cover;
	margin-right: 10px;
}

.formacion_descripcion {
	width: 100%;
	right: 0;
	padding-right: 0;
	text-align: justify;
}

hr {
	clear: both;
	margin-right: 0;
}

h3 {
	display: flex;
	justify-content: center;
	align-items: center;
}

}

/* Media Query dispositivos tablets */

@media (min-width: 601px) and (max-width: 1200px) {

.boton_perfil {
	display: block;
}

.perfil_lateral {
	display: none;
	width: 100%;
	text-align: center;
	padding: 0 20%;
}

.perfil__contacto {
	width: 60%;
	text-align: center
}

.perfil_lateral {
	display: none;
}

header, .nav, section {
	position: relative;
	left: 0;
	width: 100%;
}

.sec_proyectos {
	padding-top: 30px;
	padding-bottom: 0;
	padding-right: 0;
}

section {
	padding: 20px;
}

.cv_section {	
	padding-right: 20px;
}

td {
	padding: 0px 30px 30px 0px;
}

}

/* Estrellas de fondo */

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 556px #FFF , 1920px 194px #FFF , 746px 1726px #FFF , 55px 792px #FFF , 1022px 294px #FFF , 1748px 84px #FFF , 52px 1685px #FFF , 500px 1835px #FFF , 265px 20px #FFF , 616px 178px #FFF , 1348px 1427px #FFF , 490px 1758px #FFF , 885px 649px #FFF , 935px 239px #FFF , 1662px 1888px #FFF , 1075px 1572px #FFF , 315px 1313px #FFF , 613px 1773px #FFF , 1014px 488px #FFF , 326px 202px #FFF , 52px 748px #FFF , 1427px 124px #FFF , 194px 605px #FFF , 1599px 1091px #FFF , 279px 417px #FFF , 680px 198px #FFF , 1037px 1235px #FFF , 440px 705px #FFF , 847px 1840px #FFF , 1159px 1202px #FFF , 1685px 1985px #FFF , 7px 1035px #FFF , 444px 629px #FFF , 591px 590px #FFF , 382px 1898px #FFF , 1191px 5px #FFF , 1241px 1227px #FFF , 906px 195px #FFF , 31px 1820px #FFF , 255px 1723px #FFF , 696px 268px #FFF , 1967px 600px #FFF , 999px 478px #FFF , 519px 759px #FFF , 3px 363px #FFF , 621px 1663px #FFF , 1372px 1633px #FFF , 1547px 323px #FFF , 186px 1770px #FFF , 1401px 22px #FFF , 133px 306px #FFF , 259px 1301px #FFF , 1209px 356px #FFF , 373px 1798px #FFF , 459px 1418px #FFF , 328px 496px #FFF , 1392px 1955px #FFF , 1174px 309px #FFF , 245px 1719px #FFF , 1732px 1734px #FFF , 893px 1789px #FFF , 1237px 1249px #FFF , 145px 1597px #FFF , 1803px 676px #FFF , 502px 1437px #FFF , 950px 1100px #FFF , 541px 1925px #FFF , 1894px 1687px #FFF , 1974px 697px #FFF , 1578px 79px #FFF , 1693px 1063px #FFF , 583px 550px #FFF , 863px 861px #FFF , 939px 1662px #FFF , 211px 954px #FFF , 1878px 1318px #FFF , 250px 384px #FFF , 445px 736px #FFF , 1337px 1931px #FFF , 1448px 1372px #FFF , 399px 1660px #FFF , 589px 1768px #FFF , 1351px 889px #FFF , 825px 1036px #FFF , 568px 1388px #FFF , 947px 1612px #FFF , 1918px 885px #FFF , 1548px 1878px #FFF , 663px 1145px #FFF , 1937px 1735px #FFF , 1249px 1109px #FFF , 1072px 1205px #FFF , 722px 1936px #FFF , 649px 1760px #FFF , 912px 1928px #FFF , 943px 1947px #FFF , 1857px 1066px #FFF , 1752px 1512px #FFF , 161px 1811px #FFF , 935px 844px #FFF , 1442px 200px #FFF , 498px 1676px #FFF , 1831px 361px #FFF , 610px 333px #FFF , 239px 1714px #FFF , 1995px 773px #FFF , 1875px 1706px #FFF , 1778px 147px #FFF , 522px 1817px #FFF , 1822px 1376px #FFF , 1064px 114px #FFF , 1471px 1244px #FFF , 950px 1112px #FFF , 756px 1623px #FFF , 1192px 1797px #FFF , 419px 208px #FFF , 1299px 1500px #FFF , 942px 275px #FFF , 257px 585px #FFF , 1486px 692px #FFF , 1107px 436px #FFF , 1134px 1212px #FFF , 66px 1136px #FFF , 222px 1069px #FFF , 1371px 561px #FFF , 1105px 1003px #FFF , 772px 125px #FFF , 1095px 612px #FFF , 1382px 1828px #FFF , 1385px 1884px #FFF , 1568px 1271px #FFF , 1046px 301px #FFF , 1177px 941px #FFF , 1070px 520px #FFF , 867px 660px #FFF , 96px 766px #FFF , 1479px 1073px #FFF , 290px 176px #FFF , 1211px 1127px #FFF , 944px 165px #FFF , 90px 501px #FFF , 418px 231px #FFF , 753px 1763px #FFF , 231px 833px #FFF , 1138px 743px #FFF , 1352px 212px #FFF , 1952px 221px #FFF , 1210px 137px #FFF , 1388px 116px #FFF , 1442px 331px #FFF , 1200px 1353px #FFF , 79px 563px #FFF , 1570px 777px #FFF , 1216px 1726px #FFF , 26px 959px #FFF , 1530px 796px #FFF , 1168px 513px #FFF , 1191px 1276px #FFF , 1266px 303px #FFF , 342px 919px #FFF , 928px 418px #FFF , 322px 1674px #FFF , 1034px 1911px #FFF , 125px 814px #FFF , 491px 1456px #FFF , 260px 1473px #FFF , 1932px 42px #FFF , 1905px 895px #FFF , 897px 1376px #FFF , 1984px 876px #FFF , 1823px 1898px #FFF , 1940px 1147px #FFF , 1539px 1458px #FFF , 1411px 596px #FFF , 1058px 1130px #FFF , 1593px 1171px #FFF , 243px 105px #FFF , 1174px 1124px #FFF , 65px 1769px #FFF , 1065px 1634px #FFF , 1007px 160px #FFF , 1581px 640px #FFF , 692px 1451px #FFF , 1086px 23px #FFF , 254px 1248px #FFF , 261px 1902px #FFF , 1848px 1439px #FFF , 8px 1662px #FFF , 1750px 897px #FFF , 1663px 730px #FFF , 1654px 1364px #FFF , 1419px 1702px #FFF , 12px 88px #FFF , 1979px 536px #FFF , 708px 685px #FFF , 22px 98px #FFF , 663px 175px #FFF , 1903px 1486px #FFF , 812px 266px #FFF , 552px 82px #FFF , 345px 1237px #FFF , 1428px 1872px #FFF , 365px 882px #FFF , 1377px 193px #FFF , 121px 1084px #FFF , 1287px 549px #FFF , 1094px 1062px #FFF , 1671px 1235px #FFF , 1372px 911px #FFF , 469px 1622px #FFF , 192px 420px #FFF , 424px 867px #FFF , 2000px 262px #FFF , 1350px 850px #FFF , 245px 1395px #FFF , 734px 219px #FFF , 67px 208px #FFF , 1px 1560px #FFF , 928px 907px #FFF , 291px 1327px #FFF , 145px 1548px #FFF , 1960px 1580px #FFF , 465px 938px #FFF , 899px 1565px #FFF , 1888px 1063px #FFF , 1246px 103px #FFF , 944px 1691px #FFF , 1799px 471px #FFF , 128px 7px #FFF , 1648px 228px #FFF , 738px 1002px #FFF , 316px 649px #FFF , 184px 1787px #FFF , 780px 1044px #FFF , 117px 1004px #FFF , 1604px 1297px #FFF , 1479px 1164px #FFF , 549px 1795px #FFF , 1191px 1504px #FFF , 836px 1051px #FFF , 514px 1714px #FFF , 49px 456px #FFF , 935px 477px #FFF , 1574px 1560px #FFF , 1211px 341px #FFF , 1028px 575px #FFF , 1988px 1839px #FFF , 1635px 261px #FFF , 153px 389px #FFF , 539px 1632px #FFF , 167px 979px #FFF , 1401px 1826px #FFF , 344px 577px #FFF , 1599px 1931px #FFF , 1621px 322px #FFF , 780px 328px #FFF , 809px 1444px #FFF , 1819px 1574px #FFF , 852px 1459px #FFF , 261px 1593px #FFF , 1111px 363px #FFF , 1714px 1752px #FFF , 243px 172px #FFF , 645px 1798px #FFF , 670px 136px #FFF , 1020px 631px #FFF , 1518px 863px #FFF , 1459px 288px #FFF , 1893px 1890px #FFF , 796px 1081px #FFF , 437px 22px #FFF , 1409px 1173px #FFF , 624px 501px #FFF , 492px 304px #FFF , 1032px 320px #FFF , 1079px 1782px #FFF , 1342px 926px #FFF , 553px 1124px #FFF , 54px 929px #FFF , 164px 1406px #FFF , 1235px 1611px #FFF , 1277px 502px #FFF , 1505px 619px #FFF , 799px 1810px #FFF , 1394px 1633px #FFF , 1874px 10px #FFF , 1504px 853px #FFF , 748px 865px #FFF , 1822px 533px #FFF , 694px 1624px #FFF , 599px 773px #FFF , 102px 697px #FFF , 751px 1013px #FFF , 1114px 456px #FFF , 1660px 1261px #FFF , 1774px 1343px #FFF , 1362px 241px #FFF , 473px 1272px #FFF , 49px 1314px #FFF , 1713px 1344px #FFF , 189px 577px #FFF , 1784px 1241px #FFF , 1071px 898px #FFF , 1272px 1741px #FFF , 838px 1466px #FFF , 1951px 195px #FFF , 1248px 1607px #FFF , 113px 1927px #FFF , 918px 1008px #FFF , 743px 1224px #FFF , 1973px 752px #FFF , 1419px 1034px #FFF , 897px 72px #FFF , 252px 1404px #FFF , 1655px 897px #FFF , 1890px 1426px #FFF , 881px 385px #FFF , 1150px 204px #FFF , 566px 1747px #FFF , 1054px 1699px #FFF , 1412px 1529px #FFF , 1430px 1804px #FFF , 1473px 1288px #FFF , 738px 1850px #FFF , 1033px 1374px #FFF , 73px 224px #FFF , 226px 1859px #FFF , 646px 669px #FFF , 1295px 598px #FFF , 861px 33px #FFF , 1357px 1779px #FFF , 1818px 1402px #FFF , 1602px 1153px #FFF , 1818px 500px #FFF , 942px 1251px #FFF , 1204px 498px #FFF , 95px 672px #FFF , 1249px 845px #FFF , 1026px 1207px #FFF , 219px 528px #FFF , 420px 928px #FFF , 700px 1724px #FFF , 264px 246px #FFF , 1840px 1189px #FFF , 1878px 451px #FFF , 1329px 1864px #FFF , 234px 542px #FFF , 602px 1234px #FFF , 1401px 257px #FFF , 1059px 819px #FFF , 1084px 190px #FFF , 1117px 1103px #FFF , 615px 90px #FFF , 1585px 1219px #FFF , 785px 1630px #FFF , 609px 99px #FFF , 390px 78px #FFF , 759px 684px #FFF , 329px 782px #FFF , 1595px 1157px #FFF , 1347px 1618px #FFF , 1451px 1435px #FFF , 240px 17px #FFF , 128px 379px #FFF , 1779px 1918px #FFF , 271px 934px #FFF , 518px 1931px #FFF , 1987px 499px #FFF , 1653px 1356px #FFF , 1077px 772px #FFF , 1702px 1087px #FFF , 922px 476px #FFF , 1378px 1328px #FFF , 287px 1438px #FFF , 1897px 935px #FFF , 1050px 388px #FFF , 799px 1266px #FFF , 46px 371px #FFF , 1964px 1322px #FFF , 821px 95px #FFF , 1498px 1115px #FFF , 1272px 1255px #FFF , 1370px 312px #FFF , 946px 1192px #FFF , 260px 92px #FFF , 712px 1442px #FFF , 1531px 213px #FFF , 1763px 394px #FFF , 745px 36px #FFF , 1000px 182px #FFF , 44px 1987px #FFF , 1990px 762px #FFF , 1524px 1817px #FFF , 220px 1301px #FFF , 1899px 793px #FFF , 385px 1099px #FFF , 690px 1725px #FFF , 1483px 1055px #FFF , 1254px 436px #FFF , 1013px 1443px #FFF , 1213px 1016px #FFF , 1820px 1115px #FFF , 1011px 1965px #FFF , 269px 1617px #FFF , 1956px 1374px #FFF , 1171px 1484px #FFF , 1683px 1595px #FFF , 1928px 99px #FFF , 1929px 861px #FFF , 170px 142px #FFF , 524px 565px #FFF , 351px 950px #FFF , 312px 192px #FFF , 1077px 925px #FFF , 1418px 1516px #FFF , 1863px 87px #FFF , 460px 1251px #FFF , 36px 434px #FFF , 1548px 1013px #FFF , 517px 1698px #FFF , 1797px 538px #FFF , 1498px 702px #FFF , 592px 1344px #FFF , 440px 495px #FFF , 892px 1852px #FFF , 1925px 11px #FFF , 596px 1758px #FFF , 1447px 148px #FFF , 849px 1596px #FFF , 952px 316px #FFF , 590px 1658px #FFF , 742px 964px #FFF , 1444px 1232px #FFF , 1879px 77px #FFF , 395px 1690px #FFF , 132px 197px #FFF , 1551px 224px #FFF , 1893px 632px #FFF , 1338px 84px #FFF , 583px 1531px #FFF , 304px 804px #FFF , 778px 1582px #FFF , 1680px 866px #FFF , 540px 1774px #FFF , 1459px 1616px #FFF , 287px 1306px #FFF , 840px 608px #FFF , 192px 538px #FFF , 132px 142px #FFF , 265px 673px #FFF , 31px 1300px #FFF , 86px 1823px #FFF , 757px 196px #FFF , 711px 582px #FFF , 519px 58px #FFF , 1323px 513px #FFF , 1975px 649px #FFF , 554px 1199px #FFF , 1357px 1293px #FFF , 1051px 1503px #FFF , 253px 762px #FFF , 402px 788px #FFF , 1687px 36px #FFF , 1305px 673px #FFF , 474px 223px #FFF , 1263px 1321px #FFF , 1842px 115px #FFF , 990px 1578px #FFF , 1767px 39px #FFF , 932px 1954px #FFF , 70px 644px #FFF , 1521px 862px #FFF , 795px 1009px #FFF , 1001px 1301px #FFF , 737px 1406px #FFF , 886px 306px #FFF , 1835px 1540px #FFF , 1368px 288px #FFF , 138px 362px #FFF , 371px 1559px #FFF , 280px 315px #FFF , 920px 1290px #FFF , 847px 79px #FFF , 242px 678px #FFF , 1948px 1183px #FFF , 1481px 1279px #FFF , 1929px 1438px #FFF , 1685px 1318px #FFF , 308px 219px #FFF , 491px 908px #FFF , 1999px 395px #FFF , 667px 1752px #FFF , 329px 1674px #FFF , 1923px 218px #FFF , 1206px 64px #FFF , 1638px 282px #FFF , 1991px 742px #FFF , 1030px 233px #FFF , 316px 1186px #FFF , 119px 1687px #FFF , 958px 827px #FFF , 516px 1299px #FFF , 252px 1665px #FFF , 1811px 721px #FFF , 135px 1514px #FFF , 1374px 1057px #FFF , 1979px 436px #FFF , 1274px 1660px #FFF , 1393px 825px #FFF , 24px 454px #FFF , 476px 1092px #FFF , 906px 291px #FFF , 1319px 1623px #FFF , 1377px 1576px #FFF , 1192px 1737px #FFF , 1214px 593px #FFF , 105px 471px #FFF , 1170px 1432px #FFF , 1882px 148px #FFF , 1782px 1908px #FFF , 1613px 1838px #FFF , 341px 842px #FFF , 108px 620px #FFF , 931px 1936px #FFF , 401px 1667px #FFF , 702px 729px #FFF , 1041px 539px #FFF , 1357px 459px #FFF , 1919px 870px #FFF , 1104px 1244px #FFF , 1512px 1823px #FFF , 1587px 354px #FFF , 984px 1458px #FFF , 1014px 1947px #FFF , 1291px 1827px #FFF , 1189px 1900px #FFF , 1225px 1819px #FFF , 214px 1702px #FFF , 964px 1544px #FFF , 332px 1113px #FFF , 1538px 1906px #FFF , 1692px 1548px #FFF , 1215px 1022px #FFF , 1889px 1421px #FFF , 722px 754px #FFF , 967px 1040px #FFF , 1333px 1895px #FFF , 1845px 448px #FFF , 745px 640px #FFF , 1069px 1865px #FFF , 1694px 104px #FFF , 1146px 1014px #FFF , 1499px 1687px #FFF , 1812px 882px #FFF , 323px 1979px #FFF , 544px 1013px #FFF , 380px 1015px #FFF , 862px 432px #FFF , 1251px 1814px #FFF , 313px 55px #FFF , 665px 876px #FFF , 584px 1285px #FFF , 410px 829px #FFF , 690px 1557px #FFF , 1411px 299px #FFF , 559px 592px #FFF , 1911px 912px #FFF , 1748px 183px #FFF , 1587px 115px #FFF , 620px 616px #FFF , 38px 404px #FFF , 1112px 602px #FFF , 4px 141px #FFF , 935px 869px #FFF , 1170px 339px #FFF , 1980px 202px #FFF , 1435px 448px #FFF , 578px 1082px #FFF , 1971px 141px #FFF , 1868px 571px #FFF , 676px 1314px #FFF , 1597px 1901px #FFF , 792px 715px #FFF , 937px 1124px #FFF , 439px 1732px #FFF , 432px 1255px #FFF , 533px 465px #FFF , 1294px 1448px #FFF , 1199px 1830px #FFF , 1842px 843px #FFF , 49px 367px #FFF , 1892px 1175px #FFF , 760px 350px #FFF , 1307px 452px #FFF , 505px 190px #FFF , 1976px 1042px #FFF , 870px 250px #FFF , 1931px 1598px #FFF , 1858px 1299px #FFF , 255px 1338px #FFF , 209px 429px #FFF , 300px 699px #FFF , 140px 236px #FFF , 1460px 1213px #FFF , 720px 912px #FFF , 1598px 1753px #FFF , 911px 1213px #FFF , 222px 1460px #FFF , 572px 617px #FFF , 186px 1518px #FFF , 1000px 1173px #FFF , 64px 433px #FFF , 1400px 387px #FFF , 44px 1336px #FFF , 1410px 1846px #FFF , 1828px 1021px #FFF , 982px 438px #FFF , 1932px 765px #FFF , 1739px 85px #FFF , 1485px 1955px #FFF , 1488px 379px #FFF , 1470px 993px #FFF , 339px 1092px #FFF , 195px 970px #FFF , 996px 1816px #FFF , 1062px 910px #FFF , 65px 669px #FFF , 86px 169px #FFF , 1954px 484px #FFF , 239px 1013px #FFF , 248px 1783px #FFF , 711px 1161px #FFF , 5px 518px #FFF , 935px 712px #FFF , 1950px 1470px #FFF , 721px 1675px #FFF , 598px 1296px #FFF , 658px 712px #FFF , 445px 827px #FFF , 1497px 768px #FFF , 1631px 1692px #FFF , 665px 110px #FFF , 1715px 1684px #FFF , 1031px 1473px #FFF , 605px 1378px #FFF , 1095px 137px #FFF , 385px 1210px #FFF , 1421px 479px #FFF , 507px 32px #FFF , 1223px 176px #FFF , 253px 1772px #FFF , 1539px 553px #FFF , 1125px 45px #FFF , 890px 1341px #FFF , 1685px 1433px #FFF , 594px 811px #FFF , 1796px 1269px #FFF , 805px 1614px #FFF , 94px 921px #FFF , 1418px 1489px #FFF , 686px 1663px #FFF , 585px 250px #FFF , 147px 890px #FFF , 726px 1332px #FFF , 1953px 832px #FFF , 1988px 701px #FFF , 1358px 247px #FFF , 694px 337px #FFF , 689px 472px #FFF , 587px 1485px #FFF , 639px 1068px #FFF , 1670px 1224px #FFF , 1225px 1611px #FFF , 879px 1885px #FFF , 1092px 1039px #FFF , 1636px 1002px #FFF , 343px 1618px #FFF , 84px 308px #FFF , 6px 1724px #FFF , 1100px 286px #FFF , 1402px 1408px #FFF , 263px 1481px #FFF , 1038px 511px #FFF , 1612px 446px #FFF , 555px 62px #FFF , 543px 1549px #FFF , 245px 1280px #FFF , 1860px 662px #FFF , 451px 1672px #FFF , 398px 224px #FFF , 1599px 1416px #FFF , 1968px 821px #FFF , 1505px 1557px #FFF , 398px 1763px #FFF , 1528px 596px #FFF , 610px 1709px #FFF , 1732px 1647px #FFF , 1970px 1231px #FFF , 1412px 1432px #FFF , 1233px 1657px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 556px #FFF , 1920px 194px #FFF , 746px 1726px #FFF , 55px 792px #FFF , 1022px 294px #FFF , 1748px 84px #FFF , 52px 1685px #FFF , 500px 1835px #FFF , 265px 20px #FFF , 616px 178px #FFF , 1348px 1427px #FFF , 490px 1758px #FFF , 885px 649px #FFF , 935px 239px #FFF , 1662px 1888px #FFF , 1075px 1572px #FFF , 315px 1313px #FFF , 613px 1773px #FFF , 1014px 488px #FFF , 326px 202px #FFF , 52px 748px #FFF , 1427px 124px #FFF , 194px 605px #FFF , 1599px 1091px #FFF , 279px 417px #FFF , 680px 198px #FFF , 1037px 1235px #FFF , 440px 705px #FFF , 847px 1840px #FFF , 1159px 1202px #FFF , 1685px 1985px #FFF , 7px 1035px #FFF , 444px 629px #FFF , 591px 590px #FFF , 382px 1898px #FFF , 1191px 5px #FFF , 1241px 1227px #FFF , 906px 195px #FFF , 31px 1820px #FFF , 255px 1723px #FFF , 696px 268px #FFF , 1967px 600px #FFF , 999px 478px #FFF , 519px 759px #FFF , 3px 363px #FFF , 621px 1663px #FFF , 1372px 1633px #FFF , 1547px 323px #FFF , 186px 1770px #FFF , 1401px 22px #FFF , 133px 306px #FFF , 259px 1301px #FFF , 1209px 356px #FFF , 373px 1798px #FFF , 459px 1418px #FFF , 328px 496px #FFF , 1392px 1955px #FFF , 1174px 309px #FFF , 245px 1719px #FFF , 1732px 1734px #FFF , 893px 1789px #FFF , 1237px 1249px #FFF , 145px 1597px #FFF , 1803px 676px #FFF , 502px 1437px #FFF , 950px 1100px #FFF , 541px 1925px #FFF , 1894px 1687px #FFF , 1974px 697px #FFF , 1578px 79px #FFF , 1693px 1063px #FFF , 583px 550px #FFF , 863px 861px #FFF , 939px 1662px #FFF , 211px 954px #FFF , 1878px 1318px #FFF , 250px 384px #FFF , 445px 736px #FFF , 1337px 1931px #FFF , 1448px 1372px #FFF , 399px 1660px #FFF , 589px 1768px #FFF , 1351px 889px #FFF , 825px 1036px #FFF , 568px 1388px #FFF , 947px 1612px #FFF , 1918px 885px #FFF , 1548px 1878px #FFF , 663px 1145px #FFF , 1937px 1735px #FFF , 1249px 1109px #FFF , 1072px 1205px #FFF , 722px 1936px #FFF , 649px 1760px #FFF , 912px 1928px #FFF , 943px 1947px #FFF , 1857px 1066px #FFF , 1752px 1512px #FFF , 161px 1811px #FFF , 935px 844px #FFF , 1442px 200px #FFF , 498px 1676px #FFF , 1831px 361px #FFF , 610px 333px #FFF , 239px 1714px #FFF , 1995px 773px #FFF , 1875px 1706px #FFF , 1778px 147px #FFF , 522px 1817px #FFF , 1822px 1376px #FFF , 1064px 114px #FFF , 1471px 1244px #FFF , 950px 1112px #FFF , 756px 1623px #FFF , 1192px 1797px #FFF , 419px 208px #FFF , 1299px 1500px #FFF , 942px 275px #FFF , 257px 585px #FFF , 1486px 692px #FFF , 1107px 436px #FFF , 1134px 1212px #FFF , 66px 1136px #FFF , 222px 1069px #FFF , 1371px 561px #FFF , 1105px 1003px #FFF , 772px 125px #FFF , 1095px 612px #FFF , 1382px 1828px #FFF , 1385px 1884px #FFF , 1568px 1271px #FFF , 1046px 301px #FFF , 1177px 941px #FFF , 1070px 520px #FFF , 867px 660px #FFF , 96px 766px #FFF , 1479px 1073px #FFF , 290px 176px #FFF , 1211px 1127px #FFF , 944px 165px #FFF , 90px 501px #FFF , 418px 231px #FFF , 753px 1763px #FFF , 231px 833px #FFF , 1138px 743px #FFF , 1352px 212px #FFF , 1952px 221px #FFF , 1210px 137px #FFF , 1388px 116px #FFF , 1442px 331px #FFF , 1200px 1353px #FFF , 79px 563px #FFF , 1570px 777px #FFF , 1216px 1726px #FFF , 26px 959px #FFF , 1530px 796px #FFF , 1168px 513px #FFF , 1191px 1276px #FFF , 1266px 303px #FFF , 342px 919px #FFF , 928px 418px #FFF , 322px 1674px #FFF , 1034px 1911px #FFF , 125px 814px #FFF , 491px 1456px #FFF , 260px 1473px #FFF , 1932px 42px #FFF , 1905px 895px #FFF , 897px 1376px #FFF , 1984px 876px #FFF , 1823px 1898px #FFF , 1940px 1147px #FFF , 1539px 1458px #FFF , 1411px 596px #FFF , 1058px 1130px #FFF , 1593px 1171px #FFF , 243px 105px #FFF , 1174px 1124px #FFF , 65px 1769px #FFF , 1065px 1634px #FFF , 1007px 160px #FFF , 1581px 640px #FFF , 692px 1451px #FFF , 1086px 23px #FFF , 254px 1248px #FFF , 261px 1902px #FFF , 1848px 1439px #FFF , 8px 1662px #FFF , 1750px 897px #FFF , 1663px 730px #FFF , 1654px 1364px #FFF , 1419px 1702px #FFF , 12px 88px #FFF , 1979px 536px #FFF , 708px 685px #FFF , 22px 98px #FFF , 663px 175px #FFF , 1903px 1486px #FFF , 812px 266px #FFF , 552px 82px #FFF , 345px 1237px #FFF , 1428px 1872px #FFF , 365px 882px #FFF , 1377px 193px #FFF , 121px 1084px #FFF , 1287px 549px #FFF , 1094px 1062px #FFF , 1671px 1235px #FFF , 1372px 911px #FFF , 469px 1622px #FFF , 192px 420px #FFF , 424px 867px #FFF , 2000px 262px #FFF , 1350px 850px #FFF , 245px 1395px #FFF , 734px 219px #FFF , 67px 208px #FFF , 1px 1560px #FFF , 928px 907px #FFF , 291px 1327px #FFF , 145px 1548px #FFF , 1960px 1580px #FFF , 465px 938px #FFF , 899px 1565px #FFF , 1888px 1063px #FFF , 1246px 103px #FFF , 944px 1691px #FFF , 1799px 471px #FFF , 128px 7px #FFF , 1648px 228px #FFF , 738px 1002px #FFF , 316px 649px #FFF , 184px 1787px #FFF , 780px 1044px #FFF , 117px 1004px #FFF , 1604px 1297px #FFF , 1479px 1164px #FFF , 549px 1795px #FFF , 1191px 1504px #FFF , 836px 1051px #FFF , 514px 1714px #FFF , 49px 456px #FFF , 935px 477px #FFF , 1574px 1560px #FFF , 1211px 341px #FFF , 1028px 575px #FFF , 1988px 1839px #FFF , 1635px 261px #FFF , 153px 389px #FFF , 539px 1632px #FFF , 167px 979px #FFF , 1401px 1826px #FFF , 344px 577px #FFF , 1599px 1931px #FFF , 1621px 322px #FFF , 780px 328px #FFF , 809px 1444px #FFF , 1819px 1574px #FFF , 852px 1459px #FFF , 261px 1593px #FFF , 1111px 363px #FFF , 1714px 1752px #FFF , 243px 172px #FFF , 645px 1798px #FFF , 670px 136px #FFF , 1020px 631px #FFF , 1518px 863px #FFF , 1459px 288px #FFF , 1893px 1890px #FFF , 796px 1081px #FFF , 437px 22px #FFF , 1409px 1173px #FFF , 624px 501px #FFF , 492px 304px #FFF , 1032px 320px #FFF , 1079px 1782px #FFF , 1342px 926px #FFF , 553px 1124px #FFF , 54px 929px #FFF , 164px 1406px #FFF , 1235px 1611px #FFF , 1277px 502px #FFF , 1505px 619px #FFF , 799px 1810px #FFF , 1394px 1633px #FFF , 1874px 10px #FFF , 1504px 853px #FFF , 748px 865px #FFF , 1822px 533px #FFF , 694px 1624px #FFF , 599px 773px #FFF , 102px 697px #FFF , 751px 1013px #FFF , 1114px 456px #FFF , 1660px 1261px #FFF , 1774px 1343px #FFF , 1362px 241px #FFF , 473px 1272px #FFF , 49px 1314px #FFF , 1713px 1344px #FFF , 189px 577px #FFF , 1784px 1241px #FFF , 1071px 898px #FFF , 1272px 1741px #FFF , 838px 1466px #FFF , 1951px 195px #FFF , 1248px 1607px #FFF , 113px 1927px #FFF , 918px 1008px #FFF , 743px 1224px #FFF , 1973px 752px #FFF , 1419px 1034px #FFF , 897px 72px #FFF , 252px 1404px #FFF , 1655px 897px #FFF , 1890px 1426px #FFF , 881px 385px #FFF , 1150px 204px #FFF , 566px 1747px #FFF , 1054px 1699px #FFF , 1412px 1529px #FFF , 1430px 1804px #FFF , 1473px 1288px #FFF , 738px 1850px #FFF , 1033px 1374px #FFF , 73px 224px #FFF , 226px 1859px #FFF , 646px 669px #FFF , 1295px 598px #FFF , 861px 33px #FFF , 1357px 1779px #FFF , 1818px 1402px #FFF , 1602px 1153px #FFF , 1818px 500px #FFF , 942px 1251px #FFF , 1204px 498px #FFF , 95px 672px #FFF , 1249px 845px #FFF , 1026px 1207px #FFF , 219px 528px #FFF , 420px 928px #FFF , 700px 1724px #FFF , 264px 246px #FFF , 1840px 1189px #FFF , 1878px 451px #FFF , 1329px 1864px #FFF , 234px 542px #FFF , 602px 1234px #FFF , 1401px 257px #FFF , 1059px 819px #FFF , 1084px 190px #FFF , 1117px 1103px #FFF , 615px 90px #FFF , 1585px 1219px #FFF , 785px 1630px #FFF , 609px 99px #FFF , 390px 78px #FFF , 759px 684px #FFF , 329px 782px #FFF , 1595px 1157px #FFF , 1347px 1618px #FFF , 1451px 1435px #FFF , 240px 17px #FFF , 128px 379px #FFF , 1779px 1918px #FFF , 271px 934px #FFF , 518px 1931px #FFF , 1987px 499px #FFF , 1653px 1356px #FFF , 1077px 772px #FFF , 1702px 1087px #FFF , 922px 476px #FFF , 1378px 1328px #FFF , 287px 1438px #FFF , 1897px 935px #FFF , 1050px 388px #FFF , 799px 1266px #FFF , 46px 371px #FFF , 1964px 1322px #FFF , 821px 95px #FFF , 1498px 1115px #FFF , 1272px 1255px #FFF , 1370px 312px #FFF , 946px 1192px #FFF , 260px 92px #FFF , 712px 1442px #FFF , 1531px 213px #FFF , 1763px 394px #FFF , 745px 36px #FFF , 1000px 182px #FFF , 44px 1987px #FFF , 1990px 762px #FFF , 1524px 1817px #FFF , 220px 1301px #FFF , 1899px 793px #FFF , 385px 1099px #FFF , 690px 1725px #FFF , 1483px 1055px #FFF , 1254px 436px #FFF , 1013px 1443px #FFF , 1213px 1016px #FFF , 1820px 1115px #FFF , 1011px 1965px #FFF , 269px 1617px #FFF , 1956px 1374px #FFF , 1171px 1484px #FFF , 1683px 1595px #FFF , 1928px 99px #FFF , 1929px 861px #FFF , 170px 142px #FFF , 524px 565px #FFF , 351px 950px #FFF , 312px 192px #FFF , 1077px 925px #FFF , 1418px 1516px #FFF , 1863px 87px #FFF , 460px 1251px #FFF , 36px 434px #FFF , 1548px 1013px #FFF , 517px 1698px #FFF , 1797px 538px #FFF , 1498px 702px #FFF , 592px 1344px #FFF , 440px 495px #FFF , 892px 1852px #FFF , 1925px 11px #FFF , 596px 1758px #FFF , 1447px 148px #FFF , 849px 1596px #FFF , 952px 316px #FFF , 590px 1658px #FFF , 742px 964px #FFF , 1444px 1232px #FFF , 1879px 77px #FFF , 395px 1690px #FFF , 132px 197px #FFF , 1551px 224px #FFF , 1893px 632px #FFF , 1338px 84px #FFF , 583px 1531px #FFF , 304px 804px #FFF , 778px 1582px #FFF , 1680px 866px #FFF , 540px 1774px #FFF , 1459px 1616px #FFF , 287px 1306px #FFF , 840px 608px #FFF , 192px 538px #FFF , 132px 142px #FFF , 265px 673px #FFF , 31px 1300px #FFF , 86px 1823px #FFF , 757px 196px #FFF , 711px 582px #FFF , 519px 58px #FFF , 1323px 513px #FFF , 1975px 649px #FFF , 554px 1199px #FFF , 1357px 1293px #FFF , 1051px 1503px #FFF , 253px 762px #FFF , 402px 788px #FFF , 1687px 36px #FFF , 1305px 673px #FFF , 474px 223px #FFF , 1263px 1321px #FFF , 1842px 115px #FFF , 990px 1578px #FFF , 1767px 39px #FFF , 932px 1954px #FFF , 70px 644px #FFF , 1521px 862px #FFF , 795px 1009px #FFF , 1001px 1301px #FFF , 737px 1406px #FFF , 886px 306px #FFF , 1835px 1540px #FFF , 1368px 288px #FFF , 138px 362px #FFF , 371px 1559px #FFF , 280px 315px #FFF , 920px 1290px #FFF , 847px 79px #FFF , 242px 678px #FFF , 1948px 1183px #FFF , 1481px 1279px #FFF , 1929px 1438px #FFF , 1685px 1318px #FFF , 308px 219px #FFF , 491px 908px #FFF , 1999px 395px #FFF , 667px 1752px #FFF , 329px 1674px #FFF , 1923px 218px #FFF , 1206px 64px #FFF , 1638px 282px #FFF , 1991px 742px #FFF , 1030px 233px #FFF , 316px 1186px #FFF , 119px 1687px #FFF , 958px 827px #FFF , 516px 1299px #FFF , 252px 1665px #FFF , 1811px 721px #FFF , 135px 1514px #FFF , 1374px 1057px #FFF , 1979px 436px #FFF , 1274px 1660px #FFF , 1393px 825px #FFF , 24px 454px #FFF , 476px 1092px #FFF , 906px 291px #FFF , 1319px 1623px #FFF , 1377px 1576px #FFF , 1192px 1737px #FFF , 1214px 593px #FFF , 105px 471px #FFF , 1170px 1432px #FFF , 1882px 148px #FFF , 1782px 1908px #FFF , 1613px 1838px #FFF , 341px 842px #FFF , 108px 620px #FFF , 931px 1936px #FFF , 401px 1667px #FFF , 702px 729px #FFF , 1041px 539px #FFF , 1357px 459px #FFF , 1919px 870px #FFF , 1104px 1244px #FFF , 1512px 1823px #FFF , 1587px 354px #FFF , 984px 1458px #FFF , 1014px 1947px #FFF , 1291px 1827px #FFF , 1189px 1900px #FFF , 1225px 1819px #FFF , 214px 1702px #FFF , 964px 1544px #FFF , 332px 1113px #FFF , 1538px 1906px #FFF , 1692px 1548px #FFF , 1215px 1022px #FFF , 1889px 1421px #FFF , 722px 754px #FFF , 967px 1040px #FFF , 1333px 1895px #FFF , 1845px 448px #FFF , 745px 640px #FFF , 1069px 1865px #FFF , 1694px 104px #FFF , 1146px 1014px #FFF , 1499px 1687px #FFF , 1812px 882px #FFF , 323px 1979px #FFF , 544px 1013px #FFF , 380px 1015px #FFF , 862px 432px #FFF , 1251px 1814px #FFF , 313px 55px #FFF , 665px 876px #FFF , 584px 1285px #FFF , 410px 829px #FFF , 690px 1557px #FFF , 1411px 299px #FFF , 559px 592px #FFF , 1911px 912px #FFF , 1748px 183px #FFF , 1587px 115px #FFF , 620px 616px #FFF , 38px 404px #FFF , 1112px 602px #FFF , 4px 141px #FFF , 935px 869px #FFF , 1170px 339px #FFF , 1980px 202px #FFF , 1435px 448px #FFF , 578px 1082px #FFF , 1971px 141px #FFF , 1868px 571px #FFF , 676px 1314px #FFF , 1597px 1901px #FFF , 792px 715px #FFF , 937px 1124px #FFF , 439px 1732px #FFF , 432px 1255px #FFF , 533px 465px #FFF , 1294px 1448px #FFF , 1199px 1830px #FFF , 1842px 843px #FFF , 49px 367px #FFF , 1892px 1175px #FFF , 760px 350px #FFF , 1307px 452px #FFF , 505px 190px #FFF , 1976px 1042px #FFF , 870px 250px #FFF , 1931px 1598px #FFF , 1858px 1299px #FFF , 255px 1338px #FFF , 209px 429px #FFF , 300px 699px #FFF , 140px 236px #FFF , 1460px 1213px #FFF , 720px 912px #FFF , 1598px 1753px #FFF , 911px 1213px #FFF , 222px 1460px #FFF , 572px 617px #FFF , 186px 1518px #FFF , 1000px 1173px #FFF , 64px 433px #FFF , 1400px 387px #FFF , 44px 1336px #FFF , 1410px 1846px #FFF , 1828px 1021px #FFF , 982px 438px #FFF , 1932px 765px #FFF , 1739px 85px #FFF , 1485px 1955px #FFF , 1488px 379px #FFF , 1470px 993px #FFF , 339px 1092px #FFF , 195px 970px #FFF , 996px 1816px #FFF , 1062px 910px #FFF , 65px 669px #FFF , 86px 169px #FFF , 1954px 484px #FFF , 239px 1013px #FFF , 248px 1783px #FFF , 711px 1161px #FFF , 5px 518px #FFF , 935px 712px #FFF , 1950px 1470px #FFF , 721px 1675px #FFF , 598px 1296px #FFF , 658px 712px #FFF , 445px 827px #FFF , 1497px 768px #FFF , 1631px 1692px #FFF , 665px 110px #FFF , 1715px 1684px #FFF , 1031px 1473px #FFF , 605px 1378px #FFF , 1095px 137px #FFF , 385px 1210px #FFF , 1421px 479px #FFF , 507px 32px #FFF , 1223px 176px #FFF , 253px 1772px #FFF , 1539px 553px #FFF , 1125px 45px #FFF , 890px 1341px #FFF , 1685px 1433px #FFF , 594px 811px #FFF , 1796px 1269px #FFF , 805px 1614px #FFF , 94px 921px #FFF , 1418px 1489px #FFF , 686px 1663px #FFF , 585px 250px #FFF , 147px 890px #FFF , 726px 1332px #FFF , 1953px 832px #FFF , 1988px 701px #FFF , 1358px 247px #FFF , 694px 337px #FFF , 689px 472px #FFF , 587px 1485px #FFF , 639px 1068px #FFF , 1670px 1224px #FFF , 1225px 1611px #FFF , 879px 1885px #FFF , 1092px 1039px #FFF , 1636px 1002px #FFF , 343px 1618px #FFF , 84px 308px #FFF , 6px 1724px #FFF , 1100px 286px #FFF , 1402px 1408px #FFF , 263px 1481px #FFF , 1038px 511px #FFF , 1612px 446px #FFF , 555px 62px #FFF , 543px 1549px #FFF , 245px 1280px #FFF , 1860px 662px #FFF , 451px 1672px #FFF , 398px 224px #FFF , 1599px 1416px #FFF , 1968px 821px #FFF , 1505px 1557px #FFF , 398px 1763px #FFF , 1528px 596px #FFF , 610px 1709px #FFF , 1732px 1647px #FFF , 1970px 1231px #FFF , 1412px 1432px #FFF , 1233px 1657px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1061px 779px #FFF , 944px 750px #FFF , 86px 1178px #FFF , 1797px 1150px #FFF , 340px 160px #FFF , 682px 907px #FFF , 525px 1523px #FFF , 1407px 366px #FFF , 691px 1754px #FFF , 1428px 767px #FFF , 336px 1342px #FFF , 672px 820px #FFF , 1928px 167px #FFF , 494px 313px #FFF , 654px 1548px #FFF , 1903px 1345px #FFF , 260px 1610px #FFF , 1810px 324px #FFF , 1179px 1585px #FFF , 206px 1749px #FFF , 156px 1530px #FFF , 1883px 319px #FFF , 1792px 1829px #FFF , 122px 869px #FFF , 587px 707px #FFF , 1366px 318px #FFF , 793px 899px #FFF , 654px 1836px #FFF , 381px 70px #FFF , 1657px 346px #FFF , 551px 805px #FFF , 114px 970px #FFF , 1401px 1884px #FFF , 499px 1956px #FFF , 897px 1075px #FFF , 1981px 1865px #FFF , 1488px 457px #FFF , 153px 876px #FFF , 35px 587px #FFF , 1462px 1329px #FFF , 1010px 1386px #FFF , 519px 834px #FFF , 1248px 1687px #FFF , 1126px 1569px #FFF , 272px 346px #FFF , 1702px 1412px #FFF , 1377px 49px #FFF , 968px 882px #FFF , 595px 968px #FFF , 1528px 1365px #FFF , 1268px 1768px #FFF , 1719px 179px #FFF , 700px 1931px #FFF , 1449px 1238px #FFF , 1939px 1255px #FFF , 907px 1400px #FFF , 1966px 1460px #FFF , 40px 1023px #FFF , 1368px 590px #FFF , 1692px 960px #FFF , 1861px 330px #FFF , 639px 648px #FFF , 169px 784px #FFF , 604px 1038px #FFF , 540px 1744px #FFF , 494px 649px #FFF , 1400px 100px #FFF , 682px 159px #FFF , 504px 1457px #FFF , 1655px 190px #FFF , 1486px 1104px #FFF , 89px 62px #FFF , 125px 482px #FFF , 457px 24px #FFF , 1500px 867px #FFF , 1804px 1093px #FFF , 1604px 1290px #FFF , 376px 1188px #FFF , 1572px 1800px #FFF , 13px 135px #FFF , 797px 1880px #FFF , 1133px 1126px #FFF , 1454px 249px #FFF , 1084px 1604px #FFF , 920px 74px #FFF , 1793px 369px #FFF , 1272px 1254px #FFF , 1559px 1658px #FFF , 501px 266px #FFF , 934px 1318px #FFF , 1858px 1298px #FFF , 308px 961px #FFF , 71px 92px #FFF , 689px 1714px #FFF , 415px 1605px #FFF , 973px 534px #FFF , 538px 1815px #FFF , 856px 747px #FFF , 13px 1877px #FFF , 1957px 456px #FFF , 272px 208px #FFF , 1536px 1191px #FFF , 1574px 1745px #FFF , 1386px 1839px #FFF , 1956px 836px #FFF , 1522px 1614px #FFF , 489px 552px #FFF , 1497px 1810px #FFF , 763px 726px #FFF , 684px 1818px #FFF , 362px 1236px #FFF , 1335px 1395px #FFF , 1997px 122px #FFF , 828px 1867px #FFF , 1478px 1878px #FFF , 1103px 1765px #FFF , 133px 1343px #FFF , 120px 555px #FFF , 1372px 341px #FFF , 884px 1380px #FFF , 1856px 1835px #FFF , 1200px 1565px #FFF , 147px 1625px #FFF , 1139px 383px #FFF , 1836px 278px #FFF , 1506px 57px #FFF , 859px 574px #FFF , 1458px 1926px #FFF , 1227px 1592px #FFF , 282px 1095px #FFF , 803px 1445px #FFF , 976px 938px #FFF , 509px 1019px #FFF , 1411px 1920px #FFF , 1004px 40px #FFF , 692px 124px #FFF , 863px 1410px #FFF , 1278px 791px #FFF , 521px 1944px #FFF , 614px 1023px #FFF , 1710px 1158px #FFF , 1575px 146px #FFF , 844px 1868px #FFF , 1914px 1590px #FFF , 1695px 221px #FFF , 1131px 1027px #FFF , 1101px 661px #FFF , 805px 1959px #FFF , 1454px 916px #FFF , 1404px 1930px #FFF , 728px 1393px #FFF , 509px 1723px #FFF , 1861px 194px #FFF , 111px 1322px #FFF , 1957px 1623px #FFF , 1087px 170px #FFF , 208px 765px #FFF , 405px 1594px #FFF , 796px 1643px #FFF , 826px 1503px #FFF , 493px 1379px #FFF , 1544px 1592px #FFF , 1113px 900px #FFF , 481px 968px #FFF , 317px 1303px #FFF , 711px 515px #FFF , 583px 479px #FFF , 315px 643px #FFF , 320px 9px #FFF , 1451px 1958px #FFF , 345px 1723px #FFF , 1626px 21px #FFF , 1675px 1551px #FFF , 1336px 1535px #FFF , 944px 977px #FFF , 1253px 1081px #FFF , 1511px 146px #FFF , 1367px 1035px #FFF , 137px 920px #FFF , 209px 295px #FFF , 1095px 1710px #FFF , 1853px 645px #FFF , 525px 1240px #FFF , 1306px 783px #FFF , 16px 1453px #FFF , 1961px 480px #FFF , 1573px 1082px #FFF , 1522px 698px #FFF , 11px 683px #FFF , 1547px 579px #FFF , 161px 344px #FFF , 1746px 478px #FFF , 587px 1885px #FFF , 140px 519px #FFF , 1627px 501px #FFF , 928px 297px #FFF , 175px 1690px #FFF , 796px 447px #FFF , 1806px 113px #FFF , 1173px 149px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1061px 779px #FFF , 944px 750px #FFF , 86px 1178px #FFF , 1797px 1150px #FFF , 340px 160px #FFF , 682px 907px #FFF , 525px 1523px #FFF , 1407px 366px #FFF , 691px 1754px #FFF , 1428px 767px #FFF , 336px 1342px #FFF , 672px 820px #FFF , 1928px 167px #FFF , 494px 313px #FFF , 654px 1548px #FFF , 1903px 1345px #FFF , 260px 1610px #FFF , 1810px 324px #FFF , 1179px 1585px #FFF , 206px 1749px #FFF , 156px 1530px #FFF , 1883px 319px #FFF , 1792px 1829px #FFF , 122px 869px #FFF , 587px 707px #FFF , 1366px 318px #FFF , 793px 899px #FFF , 654px 1836px #FFF , 381px 70px #FFF , 1657px 346px #FFF , 551px 805px #FFF , 114px 970px #FFF , 1401px 1884px #FFF , 499px 1956px #FFF , 897px 1075px #FFF , 1981px 1865px #FFF , 1488px 457px #FFF , 153px 876px #FFF , 35px 587px #FFF , 1462px 1329px #FFF , 1010px 1386px #FFF , 519px 834px #FFF , 1248px 1687px #FFF , 1126px 1569px #FFF , 272px 346px #FFF , 1702px 1412px #FFF , 1377px 49px #FFF , 968px 882px #FFF , 595px 968px #FFF , 1528px 1365px #FFF , 1268px 1768px #FFF , 1719px 179px #FFF , 700px 1931px #FFF , 1449px 1238px #FFF , 1939px 1255px #FFF , 907px 1400px #FFF , 1966px 1460px #FFF , 40px 1023px #FFF , 1368px 590px #FFF , 1692px 960px #FFF , 1861px 330px #FFF , 639px 648px #FFF , 169px 784px #FFF , 604px 1038px #FFF , 540px 1744px #FFF , 494px 649px #FFF , 1400px 100px #FFF , 682px 159px #FFF , 504px 1457px #FFF , 1655px 190px #FFF , 1486px 1104px #FFF , 89px 62px #FFF , 125px 482px #FFF , 457px 24px #FFF , 1500px 867px #FFF , 1804px 1093px #FFF , 1604px 1290px #FFF , 376px 1188px #FFF , 1572px 1800px #FFF , 13px 135px #FFF , 797px 1880px #FFF , 1133px 1126px #FFF , 1454px 249px #FFF , 1084px 1604px #FFF , 920px 74px #FFF , 1793px 369px #FFF , 1272px 1254px #FFF , 1559px 1658px #FFF , 501px 266px #FFF , 934px 1318px #FFF , 1858px 1298px #FFF , 308px 961px #FFF , 71px 92px #FFF , 689px 1714px #FFF , 415px 1605px #FFF , 973px 534px #FFF , 538px 1815px #FFF , 856px 747px #FFF , 13px 1877px #FFF , 1957px 456px #FFF , 272px 208px #FFF , 1536px 1191px #FFF , 1574px 1745px #FFF , 1386px 1839px #FFF , 1956px 836px #FFF , 1522px 1614px #FFF , 489px 552px #FFF , 1497px 1810px #FFF , 763px 726px #FFF , 684px 1818px #FFF , 362px 1236px #FFF , 1335px 1395px #FFF , 1997px 122px #FFF , 828px 1867px #FFF , 1478px 1878px #FFF , 1103px 1765px #FFF , 133px 1343px #FFF , 120px 555px #FFF , 1372px 341px #FFF , 884px 1380px #FFF , 1856px 1835px #FFF , 1200px 1565px #FFF , 147px 1625px #FFF , 1139px 383px #FFF , 1836px 278px #FFF , 1506px 57px #FFF , 859px 574px #FFF , 1458px 1926px #FFF , 1227px 1592px #FFF , 282px 1095px #FFF , 803px 1445px #FFF , 976px 938px #FFF , 509px 1019px #FFF , 1411px 1920px #FFF , 1004px 40px #FFF , 692px 124px #FFF , 863px 1410px #FFF , 1278px 791px #FFF , 521px 1944px #FFF , 614px 1023px #FFF , 1710px 1158px #FFF , 1575px 146px #FFF , 844px 1868px #FFF , 1914px 1590px #FFF , 1695px 221px #FFF , 1131px 1027px #FFF , 1101px 661px #FFF , 805px 1959px #FFF , 1454px 916px #FFF , 1404px 1930px #FFF , 728px 1393px #FFF , 509px 1723px #FFF , 1861px 194px #FFF , 111px 1322px #FFF , 1957px 1623px #FFF , 1087px 170px #FFF , 208px 765px #FFF , 405px 1594px #FFF , 796px 1643px #FFF , 826px 1503px #FFF , 493px 1379px #FFF , 1544px 1592px #FFF , 1113px 900px #FFF , 481px 968px #FFF , 317px 1303px #FFF , 711px 515px #FFF , 583px 479px #FFF , 315px 643px #FFF , 320px 9px #FFF , 1451px 1958px #FFF , 345px 1723px #FFF , 1626px 21px #FFF , 1675px 1551px #FFF , 1336px 1535px #FFF , 944px 977px #FFF , 1253px 1081px #FFF , 1511px 146px #FFF , 1367px 1035px #FFF , 137px 920px #FFF , 209px 295px #FFF , 1095px 1710px #FFF , 1853px 645px #FFF , 525px 1240px #FFF , 1306px 783px #FFF , 16px 1453px #FFF , 1961px 480px #FFF , 1573px 1082px #FFF , 1522px 698px #FFF , 11px 683px #FFF , 1547px 579px #FFF , 161px 344px #FFF , 1746px 478px #FFF , 587px 1885px #FFF , 140px 519px #FFF , 1627px 501px #FFF , 928px 297px #FFF , 175px 1690px #FFF , 796px 447px #FFF , 1806px 113px #FFF , 1173px 149px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1985px 999px #FFF , 1178px 16px #FFF , 1128px 318px #FFF , 784px 1252px #FFF , 1039px 619px #FFF , 55px 381px #FFF , 184px 1708px #FFF , 487px 1018px #FFF , 1298px 589px #FFF , 1960px 1793px #FFF , 1003px 1662px #FFF , 1010px 1149px #FFF , 1954px 1929px #FFF , 1576px 1500px #FFF , 674px 866px #FFF , 556px 1922px #FFF , 852px 1061px #FFF , 1835px 836px #FFF , 613px 1885px #FFF , 1003px 1878px #FFF , 1811px 816px #FFF , 1988px 1314px #FFF , 264px 1236px #FFF , 901px 290px #FFF , 682px 1300px #FFF , 1285px 15px #FFF , 1542px 721px #FFF , 491px 186px #FFF , 1208px 740px #FFF , 34px 666px #FFF , 1944px 1586px #FFF , 990px 1664px #FFF , 1463px 724px #FFF , 1229px 1087px #FFF , 1272px 1338px #FFF , 255px 199px #FFF , 1994px 1050px #FFF , 1057px 557px #FFF , 210px 243px #FFF , 1793px 1066px #FFF , 1674px 1853px #FFF , 1807px 769px #FFF , 416px 1646px #FFF , 1965px 1306px #FFF , 1188px 710px #FFF , 1081px 234px #FFF , 855px 1272px #FFF , 762px 261px #FFF , 1713px 398px #FFF , 768px 15px #FFF , 1847px 1372px #FFF , 201px 27px #FFF , 127px 1911px #FFF , 1386px 1203px #FFF , 841px 1183px #FFF , 779px 847px #FFF , 1342px 1258px #FFF , 1639px 506px #FFF , 1312px 817px #FFF , 1806px 208px #FFF , 1086px 715px #FFF , 741px 1360px #FFF , 395px 1106px #FFF , 935px 1582px #FFF , 220px 176px #FFF , 1736px 1238px #FFF , 1728px 299px #FFF , 1076px 745px #FFF , 572px 1365px #FFF , 935px 713px #FFF , 734px 962px #FFF , 1920px 719px #FFF , 849px 327px #FFF , 397px 1595px #FFF , 1337px 1219px #FFF , 745px 1994px #FFF , 1197px 1059px #FFF , 922px 1206px #FFF , 1800px 892px #FFF , 490px 152px #FFF , 628px 131px #FFF , 908px 1345px #FFF , 762px 1404px #FFF , 1954px 1360px #FFF , 168px 1137px #FFF , 341px 765px #FFF , 534px 1148px #FFF , 1842px 1804px #FFF , 1832px 1425px #FFF , 1294px 199px #FFF , 1321px 1433px #FFF , 1567px 1603px #FFF , 876px 1689px #FFF , 168px 2px #FFF , 558px 1897px #FFF , 1121px 889px #FFF , 294px 275px #FFF , 29px 162px #FFF , 1146px 792px #FFF , 1825px 937px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1985px 999px #FFF , 1178px 16px #FFF , 1128px 318px #FFF , 784px 1252px #FFF , 1039px 619px #FFF , 55px 381px #FFF , 184px 1708px #FFF , 487px 1018px #FFF , 1298px 589px #FFF , 1960px 1793px #FFF , 1003px 1662px #FFF , 1010px 1149px #FFF , 1954px 1929px #FFF , 1576px 1500px #FFF , 674px 866px #FFF , 556px 1922px #FFF , 852px 1061px #FFF , 1835px 836px #FFF , 613px 1885px #FFF , 1003px 1878px #FFF , 1811px 816px #FFF , 1988px 1314px #FFF , 264px 1236px #FFF , 901px 290px #FFF , 682px 1300px #FFF , 1285px 15px #FFF , 1542px 721px #FFF , 491px 186px #FFF , 1208px 740px #FFF , 34px 666px #FFF , 1944px 1586px #FFF , 990px 1664px #FFF , 1463px 724px #FFF , 1229px 1087px #FFF , 1272px 1338px #FFF , 255px 199px #FFF , 1994px 1050px #FFF , 1057px 557px #FFF , 210px 243px #FFF , 1793px 1066px #FFF , 1674px 1853px #FFF , 1807px 769px #FFF , 416px 1646px #FFF , 1965px 1306px #FFF , 1188px 710px #FFF , 1081px 234px #FFF , 855px 1272px #FFF , 762px 261px #FFF , 1713px 398px #FFF , 768px 15px #FFF , 1847px 1372px #FFF , 201px 27px #FFF , 127px 1911px #FFF , 1386px 1203px #FFF , 841px 1183px #FFF , 779px 847px #FFF , 1342px 1258px #FFF , 1639px 506px #FFF , 1312px 817px #FFF , 1806px 208px #FFF , 1086px 715px #FFF , 741px 1360px #FFF , 395px 1106px #FFF , 935px 1582px #FFF , 220px 176px #FFF , 1736px 1238px #FFF , 1728px 299px #FFF , 1076px 745px #FFF , 572px 1365px #FFF , 935px 713px #FFF , 734px 962px #FFF , 1920px 719px #FFF , 849px 327px #FFF , 397px 1595px #FFF , 1337px 1219px #FFF , 745px 1994px #FFF , 1197px 1059px #FFF , 922px 1206px #FFF , 1800px 892px #FFF , 490px 152px #FFF , 628px 131px #FFF , 908px 1345px #FFF , 762px 1404px #FFF , 1954px 1360px #FFF , 168px 1137px #FFF , 341px 765px #FFF , 534px 1148px #FFF , 1842px 1804px #FFF , 1832px 1425px #FFF , 1294px 199px #FFF , 1321px 1433px #FFF , 1567px 1603px #FFF , 876px 1689px #FFF , 168px 2px #FFF , 558px 1897px #FFF , 1121px 889px #FFF , 294px 275px #FFF , 29px 162px #FFF , 1146px 792px #FFF , 1825px 937px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* Estilo de Botones */

.btn-style510 {
	position: relative;
	background-color: #5e5e5e;
	color: #fff;
	overflow: hidden;
}

.btn-style510::before, .btn-style510::after {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100px) skewX(-15deg);
	content: "";
}

.btn-style510::before {
	width: 60px;
	background: rgba(255, 255, 255, 0.5);
	filter: blur(30px);
	opacity: 0.5;
}

.btn-style510::after {
	width: 30px;
	left: 30px;
	background: rgba(255, 255, 255, 0.2);
	filter: blur(5px);
}

.btn-style510:hover {
	border-color: aquamarine;
}

.btn-style510:hover::before {
  	opacity: 1;
}

.btn-style510:hover::before, .btn-style510:hover::after {
	transform: translateX(300px) skewX(-15deg);
	transition: all 0.9s ease;
}

/* Estilo de scroller infinito */

.scroller {
	width: 100%;
	overflow: hidden;   /* CLAVE */
	position: relative; /* AISLA EL CONTENIDO */
}

.scroller__inner {
	display: flex;
	flex: 0 0 auto;
	width: max-content;
}

.scroller[data-animated="true"] {
	overflow: hidden;
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 10%,
		white 80%,
		transparent
	);
	mask: linear-gradient(90deg, transparent, white 8%, white 92%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 30s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 30s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}